
<h1>Otè: {{author.authorname}}</h1>
<button  class="btn btn-primary pull-right btn-sm RbtnMargin"id="logoutBtn">Dekonekte</button>

<br></br>

<div class="container mt-4">
    <form>
        <div class="form-group">
            <input class="form-control" id="blogTitle" type="text" name="blogTitle" placeholder="Tit Atik Ou ap Ekri a"> 
        </div>
        <div class="form-group">
            <select class="form-control" id="category" name="category">
                <option value="" disabled selected>Select Category</option>
                <option value="Teknoloji">Teknoloji</option>
                <option value="Nati">Nati</option>
                <option value="Agrikilti">Agrikilti</option>
                <option value="Komedi">Komedi</option>
                <option value="kontantman">Kontantman</option>
                <option value="lot">Lot</option>
            </select>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="blogInput" name="blogInput" rows="30" placeholder="Ekri Atik la"></textarea>
        </div>
        <button type="button" class="btn btn-dark" id="blogsubmitBtn">Piblye</button>
    </form>
</div>



<br>
<!-- Add a class to the editable content for easy selection -->
<div class="container mt-5">
  <h3>Atik Pibliye:</h3>
  <ul id="blogList" class="list-unstyled">
    {{#each author.blogs as |blog|}}
      <div class="row mt-4">
        <div class="col-md-8">
          <p class="form-control input-sm">Tit Atik: {{blog.title}}</p>
          <p style="white-space: pre-line" class="form-control input-lg editable-content" id="content_{{{blog.id}}}">{{{blog.content}}}</p>
        </div>
        <div class="col-md-4">
          <button class="{{blog.id}} btn btn-dark btn-success float-right editBtn">Amandè</button>
          <button id="deleteBtn" class="{{blog.id}} btn btn-dark btn-danger float-right mt-2">Efasè</button>
        </div>
      </div>
      <hr>
    {{/each}}
  </ul>
</div>

<script src="/js/authorProfile.js"></script>
